@model ShareForCures.Models.Users.UsersModel

@{
    ViewBag.Title = "EditCredentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>EditCredentials</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">
        <h4>UsersModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ExternalID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExternalID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExternalID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguageID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LanguageID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComparePasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComparePasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ComparePasswordHash, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PHSaltID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PHSaltID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHSaltID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SexID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SexID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SexID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GenderID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RaceID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RaceID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RaceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EthnicityID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EthnicityID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EthnicityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountStatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountStatusID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountStatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdatedDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdatedDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastUpdatedDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvitationCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvitationCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvitationCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>*@

    <div class="container" id="SocialAccount" href="#animatedModal">

        <form class="well form-horizontal" action="/User/PostCredentialsAndLogin" method="post" id="createAccountForm">
            <fieldset>

                <!-- Form Name -->
                <legend class="formHeading"><span>Join SHARE For Cures</span></legend>
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.ExternalID)
                @Html.HiddenFor(m => m.AccountStatusID)
                @Html.HiddenFor(m => m.DOB)
                @Html.HiddenFor(m => m.CreateDateTime)
                @Html.HiddenFor(m => m.PHSaltID)
                @Html.HiddenFor(m => m.EthnicityID)
                @Html.HiddenFor(m => m.GenderID)
                @Html.HiddenFor(m => m.LanguageID)
                @Html.HiddenFor(m => m.MiddleName)
                @Html.HiddenFor(m => m.SexID)
                @Html.HiddenFor(m => m.RaceID)
                @Html.HiddenFor(m => m.LastUpdatedDateTime)
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger left" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger left" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger left" })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group right-inner-addon centered">
                                <input type="text" class="form-control" id="signupConfirmEmail" name="signupConfirmEmail" value="" placeholder="Confirm Email" require />
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger left" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered">
                            @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger left" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered ">
                            @Html.EditorFor(model => model.ComparePasswordHash, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.ComparePasswordHash, "", new { @class = "text-danger left" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered checkbox">
                            <input type="checkbox" class="form-control" id="emailUpdate" name="emailUpdates" style="display: none;" value="" require />
                            <label for="emailUpdate"><strong>Email Updates</strong> Let me know when new updates or products are available</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 ">
                        <div class="input-group right-inner-addon centered">
                            <span>By clicking "Create Account" you are agree to <a href="terms.html" target="_blank">"terms of service"</a>.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 inputGroupContainer">
                        <div class="input-group right-inner-addon centered center">
                            <button type="submit" id="btnSubmitCreateAccount"  class="button btn-white">CREATE ACCOUNT</button>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12 inputGroupContainer">
                        <a href="#" id="lnkLogin" class="">Login</a>
                    </div>*@

            </fieldset>
        </form>

    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
